header {
  background-image: url(assets/header.jpg);
  color: #c3c3c3;
  text-align: left;
  padding: 20px 0 0 40px;
  height: 20vh;
}

header h1 {
  font-size: 4em;
  font-weight: 500;
  margin: 0;
}



