header {
  background-color: #D3EFBD;
  color: #333;
  text-align: left;
  padding: 20px 0 0 40px;
  height: 20vh;
}

header h1 {
  font-size: 4em;
  margin: 0;
}

main {
  background-color: #F4F4F4;
  padding: 20px 40px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D3EFBD;
  color: white;
  text-align: center;
}