header {
  background-color: #D3EFBD;
  color: #333;
  text-align: left;
  padding: 20px 0 0 40px;
  height: 20vh;
}

header h1 {
  font-size: 4em;
  margin: 0;
  padding: 0;
  color: #333;
}

main {
  background-color: #D2D4C8;
  padding: 20px 40px;
  min-height: 70vh;
}

