.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    padding: 10px 60px 40px 10px;
    margin: 0px 0px 20px -40px;
    background-color: #0d0f10;
    color: #000000;
}

.link {
    font-family: Playfair Display, serif;
    color: #c3bdbd;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}