.card img {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.card {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


